n8n/workflow-signup.json
{
  "name": "biz-hunter: Signup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "biz-hunter/signup",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-signup",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "biz-hunter-signup"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst slug = String(body.mvp_slug || '').trim().slice(0, 80);\nconst email = String(body.email || '').trim().toLowerCase().slice(0, 200);\n\nif (!slug || !email || !email.includes('@')) {\n  return [{ json: { error: 'invalid_input', received: { slug, email_len: email.length } } }];\n}\n\nreturn [{\n  json: {\n    mvp_slug: slug,\n    email: email,\n    meta: body.meta || null,\n    user_agent: ($input.first().json.headers || {})['user-agent'] || null,\n    valid: true\n  }\n}];"
      },
      "id": "validate",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "Is valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO waitlist_signups (mvp_slug, email, meta, user_agent) VALUES ($1, $2, $3, $4) RETURNING id, created_at;",
        "options": {
          "queryReplacement": "={{ $json.mvp_slug }}, {{ $json.email }}, {{ $json.meta }}, {{ $json.user_agent }}"
        }
      },
      "id": "insert-signup",
      "name": "Insert signup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": {
        "postgres": {
          "id": "biz-hunter-postgres",
          "name": "biz-hunter Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, id: $json.id, created_at: $json.created_at } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error || 'invalid_input' } }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-bad",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [[{ "node": "Is valid?", "type": "main", "index": 0 }]]
    },
    "Is valid?": {
      "main": [
        [{ "node": "Insert signup", "type": "main", "index": 0 }],
        [{ "node": "Respond 400", "type": "main", "index": 0 }]
      ]
    },
    "Insert signup": {
      "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
